{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'view-list.css' %}">
  <title>View List</title>
{% endblock %}
{% block body %}
  <div class="container">
    <h1>{{ item_list.name }}</h1>

    <form action="/lists/add-item/" method="post">
      {% csrf_token %}

      <input type="hidden" name="item-list-name" value="{{ item_list.name }}">

      <!-- <input placeholder="Create a to-do item" name="item" type="text" id="to-do-item-input" required> -->
      {{ item_form.text }}

      <input type="submit" value="Create a to-do item">

      {% if item_form.text.errors %}
        <ol>
          {% for error in item_form.text.errors %}
              <li><strong>{{ error|escape }}</strong></li>
          {% endfor %}
        </ol>
      {% endif %}
    </form>

    {% if items %}
      <ul id="to-do-item-list">
        {% for item in items %}
          <li>{{ item.text }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock %}
